<header id = "header">
  <a routerLink="/news/1" class="home-link">
    <img class = "logo" src = "https://angular.io/assets/images/logos/angular/angular.png">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a routerLink="/news/1">Angular 2 HN Clone</a>
      </h1>
      <span class="header-nav">
        <a routerLink="/newest/1">new</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/show/1">show</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/ask/1">ask</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/jobs/1">jobs</a>
        <span class="divider">
          |
        </span>
      </span>
    </div>
   
  </div>
</header>